@model Paylocity.Service.Models.Employee

@{
    ViewBag.Title = "Employee Benefits Calculator";
}

<h1 class="page-header header-title">Employee Benefits Calculator</h1>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h5>Enter employee's information to calculate their benefits cost.</h5>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Dependents, htmlAttributes: new { @class = "control-label col-md-2" })
            <div id="dependentsContainer" class="col-md-10">
                @if (Model != null)
                {
                    for (int i = 0; i < Model.Dependents.Count; i++)
                    {
                        var dependent = Model.Dependents[i];
                        string id = string.Format("a{0}", i);
                        <div id="@id" class="form-inline">
                            @Html.EditorFor(d => dependent.Name, new { htmlAttributes = new { @class = "form-control", Name = "dependent" } })
                            <button onclick="RemoveDependents(event, '@id')">Remove</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <div id="dependentsContainer" class="col-md-12 col-md-offset-2">
                <button onclick="AddDependents(event)" id="AddDecendents">Add</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate Benefits Cost" />
            </div>
        </div>
        @if (TempData["IsSaved"] != null && Convert.ToBoolean(TempData["IsSaved"]))
        {
            <div>Employee benefits cost saved.</div>
        }
    </div>
    if (Model != null && Model.BenefitsSummary != null)
    {
        <div id="summary">
            <h4>Benefits Cost Summary</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.BenefitsSummary.TotalSalary)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BenefitsSummary.TotalSalary)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BenefitsSummary.EmployeeCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BenefitsSummary.EmployeeCost)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.BenefitsSummary.DependentsCost)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.BenefitsSummary.DependentsCost)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.BenefitsSummary.TotalCost)
                </dt>

                <dd>
                    <span class="text-bold"> @Html.DisplayFor(model => model.BenefitsSummary.TotalCost)</span>
                </dd>
            </dl>
            <div class="row">
                <div class="col-md-12 col-md-offset-2">
                    <input type="submit" value="Save Post" formaction='@Url.Action("Save")' />
                </div>
            </div>

            @if (TempData["IsSaved"] != null && !Convert.ToBoolean(TempData["IsSaved"]))
            {
                <div>Unable to save. Please try again.</div>
            }
        </div>
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom");
}