@model Paylocity.Service.Models.Employee

@if (Model != null)
{ 
<div>
    <h4>Benefits Cost Summary for <span class="text-bold">@Model.Name</span></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BenefitsSummary.TotalSalary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitsSummary.TotalSalary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BenefitsSummary.EmployeeCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitsSummary.EmployeeCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BenefitsSummary.DependentsCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BenefitsSummary.DependentsCost)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BenefitsSummary.TotalCost)
        </dt>

        <dd>
            <span class="text-bold"> @Html.DisplayFor(model => model.BenefitsSummary.TotalCost)</span>
        </dd>
        <div class="row">
            <div class="col-md-12 col-md-offset-2">
                <input type="button" value="Save" onclick="location.href='@Url.Action("Save")'" />
            </div>
        </div>

            @if (TempData["IsSaved"] != null && !Convert.ToBoolean(TempData["IsSaved"]))
            { 
                <div>Unable to save. Please try again.</div>   
            }
    </dl>
</div>
}